body{
    background-image: url('files:C:\Users\aupton\Pictures\waves.jpg') center center fixed

    
}
.center {

    margin-right: 50px;
}

img{


    border-radius: 15%;
}
footer{

    position: fixed;
  right: 0;bottom:0px;left:0;
}